@import "normalize.css";

* {
  box-sizing: border-box;  
}

html, body {
  min-height: 100vh;
  overflow: auto;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.clearfix:after {
  content:""; 
  display: block; 
  clear:both; 
}

.cm-s-default .cm-header {
  color: #2086fa !important;
}

.text-ellipsis {
  white-space:nowrap; 
  text-overflow:ellipsis; 
  overflow: hidden; 
}