@import "normalize.css";

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  overflow: auto;
}

.clearfix:after {
  content:""; 
  display: block; 
  clear:both; 
}

